emit:
  - "@typespec/openapi3"
  - "@typespec/json-schema"
  - "@azure-tools/typespec-python"
  - "@azure-tools/typespec-java"
  - "@azure-tools/typespec-ts"
options:
  "@typespec/json-schema":
    file-type: "json"
  "@azure-tools/typespec-python":
    emitter-output-dir: "{output-dir}/python"
    unbranded: true
  "@azure-tools/typespec-java":
    emitter-output-dir: "{output-dir}/java"
    package-dir: "brian-fun-service"
    namespace: "com.brian.fun.service"
    branded: false
  "@azure-tools/typespec-ts":
    emitter-output-dir: "{output-dir}/typescript"
    title: "Todo Application"
    package-dir: "todo-client"
    generateMetadata: true
    branded: false
    azureSdkForJs: false
    packageDetails:
      name: "todo-client"
      description: "Todo client package"
      version: "1.0.0-beta.1"
